PORT=
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_ACCESS_TOKEN_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_IN=

CLIENT_DOMAIN_DEV=
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_WEBHOOK_URL=https://your-domain.com/api/v1/payments/webhook

NODE_ENV=development