.dashboard{

padding:20px;

}


.top-cards{

display:flex;
gap:20px;

}


.card{

flex:2;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0px 2px 5px rgba(0,0,0,0.1);

}


.stats{

display:flex;
justify-content:space-around;

margin-top:20px;

}


.banner{

flex:1;

background:#ff7f50;

border-radius:10px;

color:white;

display:flex;
justify-content:center;
align-items:center;

font-size:20px;

}


.content{

display:flex;

gap:20px;

margin-top:20px;

}


.chart{

flex:3;

background:white;

padding:20px;

border-radius:10px;

height:400px;

}


.empty{

height:300px;

display:flex;
justify-content:center;
align-items:center;

color:gray;

}


.right{

flex:1;

display:flex;
flex-direction:column;
gap:20px;

}


.box{

background:white;

padding:20px;

border-radius:10px;

height:150px;

}