.header{

height:60px;
display:flex;
justify-content:space-between;
align-items:center;

padding:0 20px;

border-bottom:1px solid #ddd;

}

.logo{

font-size:22px;
font-weight:bold;
color:#0aa06e;

}

.header-right{

display:flex;
gap:20px;
align-items:center;

}

.user{

background:#eee;
padding:5px 10px;
border-radius:6px;

}